@import "../../style/App.scss";

#contact {
  padding: 60px 0;

  p {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

.contactS {
  color: #ff0000;
}

.logos {
  height: 80px;
  width: 96px;
}

@media screen and (max-width: 990px) {
  #contact {
    text-align: center;
  }
}

.contactNav {
  ul {
    li {
      padding: 5px 15px;
      cursor: pointer;
      transition: 0.3s ease;
    }
    li:hover {
      color: $main-color;
    }
  }
  .portNav-active {
    background-color: $main-color;
  }
}
